<!--
Title: The title of the current page (SEO)

Header: It need to include the main navigation menu

Styles: Where all the css files are going to be loaded

Content: Includes the main content of every page
Footer

Scripts: Where all your .js files are going to be loaded
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ base_url() }}/assets/base.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}


</head>
<body>


{% if sessionStarted is empty%}
    <header id="header" style="display: flex;flex-direction: row-reverse;">
        <p>Log in</p>
        <p>Sign up</p>
    </header>
{% else %}
    <header id="header" style="display: flex;flex-direction: row-reverse;">
        <p>{{ sessionStarted }}</p>
    </header>{% endif %}
{% block content %} {% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>