{% extends 'base.html.twig' %}

{% block title %}
PWPOP | {{ product.title }}
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    {% include 'productData.twig' with {'product':product, 'title': "Modify Product", 'action':'modifyProduct'}%}
                </div>
            </div>

            <div class="col">
                <img src="{{ base_url() }}/uploads/products/{{ product.product_image_dir }}">
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <form method="post" action="/deleteProduct">
                    <button name="productID" type="submit" value="{{ product.id }}" class="btn btn-primary">Delete product</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}