
{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<br>

    <div class="container">
    {% for product in products %}
        <div class="row">
            <div class="col">
            {% include 'product.twig' with {'product' : product} %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}