{% extends "base.html.twig" %} {% block title %} {{ title }} {% endblock %}

{% block content %}

    <div align="center"><img src="{{ base_url() }}/assets/logos/roundLogo/1x/roundLogo.png" height="200px"></div>

    {% if sessionStarted is not empty%}
        <h1 align="center">Welcome back, {{ username }}</h1>
    {% endif %}

    {% for producte in productes %}
{#        <a href="product" style="text-decoration: none ;color : #000000;">#}
            <div class="row">
               {% include 'product.twig' with {'idProducte':producte.id,'nomProducte': producte.title,
                   'descripcioProducte':producte.description, 'preuProducte': producte.price} %}
           </div>
{#        </a>#}


    {% endfor %}


{% endblock %}

{% block footer %}
    {{ footer }}
{% endblock %}
