{% extends "base.html.twig" %} {% block title %} {{ title }} {% endblock %}

{% block content %}

    <div align="center"><img src="{{ base_url() }}/assets/wallapop.jpg" height="200px"></div>

    {% if sessionStarted is not empty%}
        <h1 align="center">Welcome back, {{ username }}</h1>
    {% endif %}

    <div align="center"><input type="search" id="search" placeholder="Search..." /></div>

    {% include 'product.twig' %}

{% endblock %}

{% block footer %}
    {{ footer }}
{% endblock %}
