{% extends "base.html.twig" %} {% block title %} {{ title }} {% endblock %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'data.twig' with {'use' : 'Sign Up!'} %}
            </div>
            <div class="col text-center">
                <img src="{{ base_url() }}/assets/logos/roundLogo/1x/roundLogo.png">
            </div>
        </div>
    </div>
{% endblock %}



{% block footer %}
{% endblock %}
