{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-9">
            <div class="container">
                {% include 'productData.twig' with {'action':'upload', 'title':'Post a product'} %}

            </div>
        </div>
        <div class="col-3" id="logoContainer" >
            <img src="{{ base_url() }}/assets/logos/roundLogo/2x/roundLogo@2x.png" class = "img-fluid" style="width: 100%;;height: 100%">
        </div>
    </div>
{% endblock %}