{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <div class="row">
        <div class="col">
                {% include 'productData.twig' with {'action':'upload', 'title':'Post a product'} %}
        </div>

        <div class="col text-center" id="logoContainer" >
            <br>
            <img src="{{ base_url() }}/assets/logos/roundLogo/1x/roundLogo.png">
        </div>
    </div>
{% endblock %}