@import url('https://fonts.googleapis.com/css?family=Inder');

$h1: 'Inder', sans-sarif;


header{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  background-color: #EF7F4F;

  #search{
    display: inline-flex;
    width: 75%;
    padding-top: 5px;
  }

  #searchButton{
    background: #435E95;

  }

  h1{
    margin: 2px 15px;
    margin-bottom: 7px;
    font-weight: bold;
    font-family: $h1;
    color: #FFFFFF;


  }
  h1:hover{
    color: #435E95;
  }

  #options{
    display: flex;
    flex-direction: row-reverse;
  }
}

body{
  padding-bottom: 20px;

  #pSearch{
    font-size: 40pt;
    font-weight: bold;
  }

  #producte{
    padding-top: 20px;
    padding-bottom: 20px;
  }


}



.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  /* new lines */
  width: 100%;
  position: absolute;
  left: 0;
  padding-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}