
header{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;


    background-color: #EF7F4F;
}


h1{
    margin: 2px 15px;
    margin-bottom: 7px;
    font-weight: bold;
    font-family: sans-serif;
    color: #FFFFFF;


}
h1:hover{
    color: #435E95;
}
