@import url('https://fonts.googleapis.com/css?family=Inder');

$h1: 'Inder', sans-sarif;

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;



  background-color: #EF7F4F;
  h1{
    margin: 2px 15px;
    margin-bottom: 7px;
    font-weight: bold;
    font-family: $h1;
    color: #FFFFFF;


  }
  h1:hover{
    color: #435E95;
  }
}

body{
  padding-bottom: 20px;

  #producte{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}



.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  /* new lines */
  width: 100%;
  position: absolute;
  left: 0;
  padding-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}